body {
    background-color: #84a98c;
    color: #2f3e46;
    font-family: 'Lora', serif;
    font-size: 17px;
    font-weight: lighter;
}

h1 {
  color: #354F52;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #2f3E46;
}


a {
  color: #2f3e46;
  text-decoration: none;
}

a:hover {
  color: black;
}


.card_first p {
  margin-bottom: 40px;
}

.container {
  margin: 40px auto;
  width: 700px;
}


.card_first {
    background-color: #cad2c5;
    padding: 40px;
    box-shadow: 0px 10px 30px
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

.card_second {
    background-color: #cad2c5;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}


.image {
    border-radius: 50%;
}

.btn_green {
    background-color: #354f52;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

ul {
    padding-inline-start: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
